:root {
  --main-bg: #F9FAFD;
  --blue: #0071FF;
  --deep-blue: #002564;
  --primary: #F3F8FC;
  --primary-colour-100: #1974CD;
  --primary-colour-10: #E3EEF9;
  --error-100: #FB5E5A;
  --secondary-60: #DFB25A;
  --nude-20: #F3F8FC;
  --nude-5: #F4F4F4;
  --default-sidebar-width: 260px;
  --chat-box-action: 124px;
  --chat-box-square: 60px
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Proxima";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Rene Bieder  Milliard Light.otf") format("woff");
}
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Proxima-Bold";
  font-style: normal;
  font-weight: bold;
  src: url("../../assets/fonts/Rene Bieder  Milliard Bold.otf") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: "Proxima";
}
.bold-font{
  font-family: "Proxima-Bold";
}
html{
  scroll-behavior: smooth;
}
.primary-color{
  color: #F3F8FC;
}
.grey-bg{
  background: var(--Nude-05, #F4F4F4);

/* Shadow 1 */
box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.12);
}
.nude-bg-20{
  background-color: var(--nude-20);
}
.nude-bg-5{
  background-color: var(--nude-5);
}
.primary-color-100{
  color: var(--primary-colour-100);
}
.primary-bg-100{
  background-color: var(--primary-colour-100);
}
.primary-bg-10{
  background-color: var(--primary-colour-10);
}
.error-bg-100{
  background-color: var(--error-100);
}
.secondary-bg-60{
  background-color: var(--secondary-60);
}
.secondary-color-60{
  color: var(--secondary-60);
}
.primary-bg{
  background-color: var(--primary);
}
.blue-bg{
  background-color: var(--blue);
}
.deep-blue-bg{
  background-color: var(--deep-blue);
}
.deep-blue-color{
  color: var(--deep-blue);
}
.blue-color{
  color: var(--blue);
}
button, input, optgroup, select, textarea{
  font-size: 16.4px;
}
pre {
  font-family: inherit;
  width: 100%;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer */
}
.wrapped {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer */
  position: absolute;
  bottom: 0;
  left: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
input:-webkit-autofill, input:-webkit-autofill:focus input:-webkit-autofill, input:-webkit-autofill:hover, select:-webkit-autofill, select:-webkit-autofill:focus, select:-webkit-autofill:hover, textarea:-webkit-autofill, textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus{
  -webkit-text-fill-color: var(--light-mode);
}
.gbx-user-input::placeholder {
  color: rgba(255, 255, 255, .8);
}
.onboarding-main-section {
  overflow-x: hidden;
}
.xui-dashboard .screen .nav, .xui-dashboard .screen nav{
  position: sticky;
  top: 0;
  left: 0;
}
.onboarding-main-section{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--deep-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.onboarding-main-section .auth-section {
  padding: 2rem 3rem;
  background-color: var(--primary);
  max-width: 600px;
  width: 100%;
  border-radius: .5rem;
  opacity: 0.92;
  z-index: 1;
}
.onboarding-main-section img{
  position: absolute;
}
.xui-form input{
  border-radius: 8px;
  border: 1px solid #636161;
  padding: 1.2rem;
}
.xui-form button{
  padding: 1.5rem;
}
.eye-password {
  background-color: var(--white);
  width: 50px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: rgba(0, 0, 0, .4);
  cursor: pointer;
}
@keyframes highlight-text {
  from {
    transform: scale(1);
  }
  to {
    trtransform: scale(1.4);
    font-weight: 700;
  }
}
.xui-modal {
  background-color: rgba(0, 0, 0, .8) !important;
  -webkit-backdrop-filter: blur(16px);
  -o-backdrop-filter: blur(16px);
  -moz-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
}
.xui-modal .xui-modal-content {
  background-color: var(--dark-purple) !important;
}
.box-shadow-1{
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
[xui-modal="cropModal"] .xui-modal-content {
  background-color: transparent !important;
  position: relative;
}
[xui-modal="cropModal"] .xui-modal-content button {
  position: absolute;
  top: 4px;
  right: 4px;
  background: transparent !important;
  padding: 4px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  z-index: 2;
}
.xui-btn {
  padding: .92rem 1.6rem;
  font-size: 14.4px !important;
}
.grey-color, .xui-dashboard .navigator .links .sub-link-box .link-box{
  color: #666666;
  font-weight: 600;
}
.xui-dashboard .navigator .links .link-box.active{
  border-radius: 8px;
  background: #E3EEF9;
  color: var(--deep-blue);
  font-weight: 600;
}
.sub-link-box a{
  color: #666666;
}
/* OVERVIEW STYLINGS */
.overview-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 12px;
  background: rgba(243, 248, 252, 0.40);

  /* Shadow 2 */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.overview-left .response-time{
  color: var(--Primary-Colour-100, #1974CD);
}
.progress-bar{
  border-radius: 8px;
  background: var(--Nude-05, #F4F4F4);
  height: 8px;
}
.progress{
  border-radius: 8px;
}
.progress.color1{
  background: var(--Primary-Colour-100, #1974CD);
}
.progress.color2{
  background: var(--Secondary-Colour-100, #F7A603);
}
.progress.color3{
  background: var(--Error-100, #FB5E5A);
}
.feedback:nth-child(2), .feedback:nth-child(4){
  border-left: 0.5px solid var(--Nude-20, #D9D9D9);
}
.feedback:nth-child(3), .feedback:nth-child(4){
  border-top: 0.5px solid var(--Nude-20, #D9D9D9);
}
.response{
  border-radius: 8px;
  background: #FFF;

  /* Shadow 2 */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.ticket-status, .ticket-channel, .ticket-search, .ticket-table, .channel-members-popup .member{
  border-radius: 12px;
  background: var(--White, #FFF);

  /* Shadow 2 */
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.chart-section canvas{
  width: 100px !important;
  height: 100px !important;
}
.doughnut-chart-section canvas{
  width: 100% !important;
  height: 90px !important;
}
.status:nth-child(1) .status-circle{
  background-color: #F3F8FC;
}
.status:nth-child(2) .status-circle{
  background-color: #F9F0DE;
}
.status:nth-child(3) .status-circle{
  background-color: #C5DCF2;
}
.status:nth-child(4) .status-circle{
  background-color: #EADEFE;
}
.status:nth-child(5) .status-circle{
  background-color: #fb5e5a40;
}
.status:nth-child(6) .status-circle{
  background-color: #D9D9D9;
}
.ticket-level{
  border-radius: 12px;
  padding: 1.5rem 1rem;
  width: 31%;
  line-break: anywhere;
}
.ticket-level:nth-child(1){
  background: var(--Error-100, #FB5E5A);
}
.ticket-level:nth-child(2){
  background: var(--Secondary-Colour-60, #DFB25A);
}
.ticket-level:nth-child(3){
  background: var(--Light-blue-100, #5D7CAF);
}

.channel:nth-child(1) .channel-circle{
  background-color: #1974CD;
}
.channel:nth-child(2) .channel-circle{
  background-color: #F7A603;
}
.channel:nth-child(3) .channel-circle{
  background-color: #002564;
}
.channel:nth-child(4) .channel-circle{
  background-color: #B439DA;
}
.ticket-search input{
  padding: 24px 32px;
  border: none;
  outline: none;
  font-size: 90%;
}
.ticket-search .search-icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}
.ticket-table tbody tr{
  border-top: 1px solid var(--Nude-20, #D9D9D9);
}
.ticket-table thead tr th{
  font-size: 85%;
  text-transform: uppercase;
}
.ticket-table thead tr th:not(:first-child, :last-child), .ticket-table tbody tr td:not(:first-child, :last-child){
  padding: 1.2rem;
}
.ticket-table tbody tr td{
  font-size: 75%;
  font-weight: 500;
}
.channel-top-chat-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  position: fixed;
  top: calc(var(--navbarHeight) + 20px);
  width: calc(100% - (var(--default-sidebar-width) + 40px));
  left: calc(var(--default-sidebar-width) + 20px);
  height: 80px;
  /* background-color: #FFF; */
  /* border-radius: 0px 16px 16px 0px; */
  color: var(--blue-light);
  padding: 16px 16px;
  z-index: 1;
}
.channel-chat-panel {
  position: fixed;
  bottom: var(--chat-box-action);
  /* top: 80px; */
  width: calc(100% - (var(--default-sidebar-width) + 40px));
  left: calc(var(--default-sidebar-width) + 20px);
  height: calc(80vh - var(--chat-box-action));
  /* padding-top: calc(var(--default-sidebar-top-height) + 20px); */
  padding: 70px 12px;
  border-radius: 10px;
  overflow-y: auto;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  border-radius: 0px 16px 16px 0px;
  background: var(--Nude-05, #F4F4F4);
}
.channel-chat-action-box {
  position: fixed;
  bottom: 12px;
  width: calc(100% - (var(--default-sidebar-width) + 40px));
  left: calc(var(--default-sidebar-width) + 20px);
  height: var(--chat-box-action);
  background-color: var(--Nude-05, #F4F4F4);
  color: var(--blue-light);
  padding: 0;
  /* padding: 16px 16px; */
}
.channel-chat-box:last-child {
  margin-top: 20px;
}
.channel-chat-box {
  padding: 1rem;
  /* margin: 10px 0; */
  width: 100%;
  align-items: flex-start;
}
.channel-chat-msg-box-holder {
  height: var(--chat-box-square);
  width: calc(100% - 45px);
}
.channel-chat-msg-box-holder .channel-chat-msg-box-actions {
  height: 100%;
}
.channel-msg-box-holder{
  border-radius: 40px;
  background: var(--White-100, #FFF);
  padding: 0.5rem 1rem;
}
.channel-chat-msg-box-holder input {
  background-color: inherit;
  width: calc(100% - 50px);
  height: 100%;
  border: none;
  outline: none;
  padding: 4px 12px;
  color: var(--blue-light);
}
.channel-chat-msg-box-holder .channel-chat-msg-box-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #F3F8FC;
  border-radius: 50%;
}
.channel-chat-msg-send-box {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #F3F8FC;
  border: none;
  outline: none;
  color: inherit;
  border-radius: 50%;
}
.channel-chat-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/* .channel-chat-msg-box {
  width: calc(100% - 24px);
} */
.channel-fixed-action-btn {
  position: fixed;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--blue-light);
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
}
.channel-members-popup{
  position: absolute;
  top: 80px;
  left: 0;
  background-color: #FFF;
  width: 500px;
  max-width: 500px;
  height: calc(100vh - 198px);
  max-height: calc(100vh - 198px);
  min-height: calc(100vh - 198px);
  border-radius: 24px;
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
  overflow-y: auto;
}
.channel-members-popup .member .member-bio{
  width: calc(100% - 125px);
  padding-left: 1rem;
}

.ticket-section-holder .ticket-left, .chat-bot-section-holder .chat-bot-left{
  width: 451px;
  left: 260px;
  position: fixed;
  /* overflow-y: auto; */
  top: var(--navbarHeight);
  height: 100vh;
}
.chat-bot-section-holder .chat-bot-left{
  width: 600px;
}
.ticket-section-holder .ticket-right, .chat-bot-section-holder .chat-bot-right{
  width: calc(100% - 711px);
  left: 711px;
  overflow-y: hidden;
  position: fixed;
  top: var(--navbarHeight);
  height: 100vh;
}
.chat-bot-section-holder .chat-bot-right{
  width: calc(100% - 860px);
  left: 860px;
}
.ticket-chat-panel {
  position: fixed;
  bottom: var(--chat-box-action);
  /* top: 80px; */
  width: calc(100% - 731px);
  left: 711px;
  height: calc(80vh - var(--chat-box-action));
  /* padding-top: calc(var(--default-sidebar-top-height) + 20px); */
  padding: 70px 12px;
  border-radius: 10px;
  overflow-y: auto;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  border-radius: 0px 16px 16px 0px;
  background: var(--Nude-05, #F4F4F4);
}
.ticket-chat-action-box {
  position: fixed;
  bottom: 12px;
  width: calc(100% - 731px);
  left: 711px;
  height: var(--chat-box-action);
  background-color: var(--Nude-05, #F4F4F4);
  color: var(--blue-light);
  padding: 0 1rem;
  /* padding: 16px 16px; */
}
.ticket-chat-box:last-child {
  margin-top: 20px;
}
.ticket-chat-box {
  padding: 1rem;
  background: var(--White-100, #FFF);
}
.ticket-chat-box.me{
  border-radius: 40px 0px 24px 40px;
}
.ticket-chat-box.you, .chat-bot-preview{
  border-radius: 0px 40px 40px 24px;
}
.download-pdf{
  background: #FFF;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}
.ticket-chat-msg-box-holder {
  height: var(--chat-box-square);
  width: calc(100% - 45px);
}
.ticket-chat-msg-box-holder .ticket-chat-msg-box-actions {
  height: 100%;
}
.ticket-msg-box-holder{
  border-radius: 40px;
  background: var(--White-100, #FFF);
  padding: 0.5rem 1rem;
}
.ticket-chat-msg-box-holder input {
  background-color: inherit;
  width: calc(100% - 50px);
  height: 100%;
  border: none;
  outline: none;
  padding: 4px 12px;
  color: var(--blue-light);
}
.ticket-chat-msg-box-holder .ticket-chat-msg-box-action {
  width: 40px;
  height: 40px;
  cursor: pointer;
  background-color: #F3F8FC;
  border-radius: 50%;
}
.ticket-chat-msg-send-box {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-color: #F3F8FC;
  border: none;
  outline: none;
  color: inherit;
  border-radius: 50%;
}
.ticket-chat-profile {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
/* .ticket-chat-msg-box {
  width: calc(100% - 24px);
} */
.ticket-fixed-action-btn {
  position: fixed;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--blue);
  color: var(--blue-light);
  bottom: 20px;
  right: 30px;
  border: none;
  outline: none;
}
.ticket-left-header{
  border-bottom: 1px solid var(--Nude-20, #D9D9D9);
  border-right: 1px solid var(--Nude-20, #D9D9D9);
  height: 70px;
  display: flex;
  align-items: center;
}
.ticket-member:hover{
  background-color: var(--primary-colour-10);
  transition: .3s ease;
  border-radius: 12px;
}
.chat-bot-input-grp input, .chat-bot-input-grp textarea, .chat-bot-input-grp select{
  border: none;
  outline: none;
}
.ui {
  margin: 10px auto;
  height: calc(100vh - 150px);
  background-color: #fff;
  border-radius: 3px;
  display: flex;
  overflow: hidden;
  border-radius: 16px 16px 0px 0px;
  background: var(--White, #FFF);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
}

.ui .left-menu {
  width: 30%;
  box-sizing: content-box;
  height: 100%;
  border-radius: 16px 0px 0px 16px;
  border-right: 1px solid var(--Nude-20, #D9D9D9);
  background: var(--White-100, #FFF);
}

.ui .chat {
  width: 70%;
  height: 100%;
  /* border-radius: 0px 16px 16px 0px; */
  background: var(--Nude-05, #F4F4F4);
  border-radius: 0 16px 0 0;
  box-shadow: 0px 0px 8px 0px rgb(0 0 0 / 16%);
}

.list-friends {
  height: 88%;
  overflow-y: auto;
  padding: .5rem;
}

.list-friends img {
  margin: 5px;
}

.list-friends > li {
  display: flex;
  margin: 0 0 10px 10px;
  user-select: none;
}

.list-friends .info {
  flex: 1;
}

.list-friends .user {
  color: #fff;
  margin-top: 12px;
}

.list-friends .status {
  position: relative;
  margin-left: 14px;
  color: #a8adb3;
}

.list-friends .off:after,
.list-friends .on:after {
  content: '';
  left: -12px;
  top: 8px;
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

.list-friends .off:after {
  background: #fd8064;
}

.list-friends .on:after {
  background: #62bf6e;
}

.top {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--blue-light);
  padding: 16px 16px;
}

.messages {
  height: calc(100% - 70px - 150px);
  list-style: none;
  border: 2px solid #fff;
  border-left: none;
  border-right: none;
  overflow-y: auto;
  padding: 1rem;
}

.write-form {
  height: 150px;
  padding: 0 2rem;
}

@media screen and (max-width: 1024px) {
  .channel-chat-panel {
    width: 100%;
    left: 0;
}
.channel-chat-box {
    margin: 36px 0;
    padding: 8px 20px;
}
.channel-chat-action-box {
    width: 100%;
    left: 0;
    bottom: 0;
}
  
}
.xui-navbar .menu span{
  background-color: #FFF;
}
.xui-dashboard .links{
  background-color: var(--deep-blue);
  padding: 32px;
  min-height: calc(100% - (-10px + 100px)) !important;
}
.xui-dashboard .navigator .links .link-box{
  min-height: 40px;
}

.gbx-load-bar {
  position: absolute;
  top: 0;
  height: 4px;
  width: 100%;
  left: 0;
  background-color: var(--dark-mode-3);
  overflow: hidden;
}
.gbx-animated-loadbar {
  position: absolute;
  background: linear-gradient(135deg, #F05F57 0%, #360940 100%);
  width: 40%;
  height: 100%;
  animation-name: loading;
  animation-duration: .64s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes loading {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@media screen and (width: 1280px) {

}
@media screen and (max-width: 768px) {
  
}